################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NatoliOrderInterface_Package/AppPackages
/NatoliOrderInterface.Package
/NatoliOrderInterface_Package
